html {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: rgb(244, 240, 240);
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.all-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: white;
  justify-content: center;
  align-items: center;
  width: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.container img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  top: 15px;
  right: 25px;
  box-shadow: 10px 15px 10px -5px rgb(176 165 144);
}
.text-container h1 {
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
p {
  font-size: 15px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: rgba(74, 54, 54, 0.804);
  text-align: center;
}
.fa-regular {
  font-size: 40px;
  position: relative;
  left: 25px;
  cursor: pointer;
  color: #007fff6e;
}
.fa-regular:hover {
  color: #0080ffe0;
}
/* Media Query  */
@media (max-width: 575px) {
  .all-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
  }
  .text-container {
    position: relative;
    bottom: 35px;
    margin: 0 auto;
  }
  .container img {
    margin-bottom: -10px;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  .audio-container .fa-regular {
    margin: 10px auto;
    top: -55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
